<div class="container">
  <h1>All Posts</h1>

<table>  
  <%= @post.each do |post| %>
   <tr>
      <td>
        <a href="<%= post.url %>"><%= post.url %></a>
      </td>
      <td> 
         posted by: <a href=<'/profile/<%=post.user_id%>'><%= post.user_id %></a>
      </td>
   </tr>  
  <% end %>  
</table>
</div>
