<div class="container">
  <h1>All Comments for <%= @user.username %></h1>

<table>  
  <% @user_comments.each do |comment| %>
   <tr>
      <td>
        <%= comment.comment_text %> at <%= comment.created_at.strftime("%a, %b %Y") %><br>
      </td>
      <td> 
         Post URL: <a href= '<%= Post.find(comment.post_id).url %>'><%= Post.find(comment.post_id).url %></a>
      </td>
   </tr>  
  <% end %>  
</table>
</div>

<!-- totally awesome! -->
